.backdrop {
  position: fixed;
  inset: 0;                          // top/right/bottom/left: 0 in one line
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #2a2a2a;
  color: white;
  border-radius: 12px;
  padding: 24px;
  width: 500px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  border: 2px solid gold;

  input {
    background-color: #2a2a2a;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #555555;
    box-sizing: border-box;
  }

  .actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;

    #add-task-btn{
        background-color: red;
    }

    #cancel-add-task-btn{
        background-color: #ababab;
    }

  }
}
