<div class="home-todo-layout"
     cdkDropList
     (cdkDropListDropped)="drop($event)">

    <ng-container *ngIf="!(loadingTodos$ | async);else loading">
    <div *ngFor="let todo of todos$ | async"
         class="home-todo-item"
         cdkDrag>

         <ng-container *ngIf="editingId===todo.id;else viewMode">

            <input [(ngModel)]="editName"
                   type="text"
                   class="home-todo-name"
                   (keydown.enter)="saveEdit(todo.id)"
                   (keydown.escape)="cancelEdit()"
                   #input
            />
            <input [(ngModel)]="editDescription"
                   type="text"
                   class="home-todo-description"
                   (keydown.enter)="saveEdit(todo.id)"
                   (keydown.escape)="cancelEdit()"
            />

            <button type="button" (click)="saveEdit(todo.id)">
            Save Edit
            </button>

            <button type="button" (click)="cancelEdit()">
            Cancel
            </button>

         </ng-container>

         <ng-template #viewMode>
            <div (click)="startEdit(todo)" class="clickable-div-to-edit">

              <div class="home-todo-name">
                  {{ todo.name }}
              </div>

              <div class="home-todo-description">
                  {{ todo.description }}
              </div>

              <div class="home-todo-status">
                  {{ todo.status }}
              </div>

            </div>
         </ng-template>

    </div>
    </ng-container>

     <ng-template #loading>
       <p id="loading"> Loading . . .</p>
     </ng-template>


</div>
