<div class="home-todo-layout" 
     cdkDropList
     (cdkDropListDropped)="drop($event)">

     <ng-container *ngIf="loadingTodos$ | async">
       <p> Loading . . .</p>
     </ng-container>
    
    <div *ngFor="let todo of todos$ | async"
         class="home-todo-item"
         cdkDrag>

            <div class="home-todo-name">
                {{ todo.name }}
            </div>

            <div class="home-todo-description">
                {{ todo.description }}
            </div>


            <div class="home-todo-status">
                {{ todo.status }}
            </div>

    </div>

</div>
